/* Animating the dialog */

.dialog {
    width: 300px;
    height: 400px;
    background: #fff;
    color: #222;
    border: 0;
    border-radius: 0.5rem;
}

label {
    display: block;
}

input[type="radio"] + label {
    display: inline-block;
    margin-left: 0px;
    margin-right: 0;;
}

.dialog > form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: auto;
    height: 400px;
}

.dialog > form > div {
    flex: 1;
}

.dialog::backdrop {
    background: rgb(0 0 0 / 0.5);
    opacity: 0;
  }

.diaglog[open] {
    animation: fade-in 500ms forwards;
  }

.dialog[open]::backdrop {
    animation: fade-in 500ms forwards;
 }

.dialog[closing] {
    display: block;
    pointer-events: none;
    inset: 0;
    animation: fade-out 500ms forwards;
  }


@keyframes fade-in {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
}

@keyframes fade-out {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
